.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  /* border: 1px solid black; */
  /* padding: 1rem; */
  border-radius: 4px;
  width: 300px;
}
